@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
 

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>Froosty Sweets-About</title>
    <script src="bootstrap.js"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css">
 </head>
<body>
   
   
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item"><img id="logo" src="~/Content/themes/base/images/logo.gif" width="265" height="525" alt=""></a>

            </div> <!--list group div end-->

        </div><!--list col-mod-3 end-->
        <div class="col-md-6">
            <div class="slider">
                <img src="~/Content/themes/base/images/fruit-toppings.gif" alt="Frosty Sweet" title="Frosty Sweet">
                
            </div><!-- end slider-->




            <div class="section"> <!-- start of section-->
                <div class="about">
                    <!--about start-->
                   
                      <h4 style="color:hotpink"> Mission Statement </h4>
                    <p style="color:black">

                        To sell delicious and remarkable Frozen Deserts. That the Ice cream we sell meets the highest standards of quality,
                        freshness and seasonality and combines both modern-creative and traditional southern styles of Ice cream.
                        To consistently provide our customers with impeccable service by demonstrating warmth, graciousness, efficiency, knowledge, professionalism and integrity in our work.
                        To have every customer who comes through our doors leave impressed by Maxie's and excited to come back again.
                        To create and maintain a restaurant that is comprehensive and exceptional in its attention to every detail of operation.
                        To provide all who work with us a friendly, cooperative and rewarding environment which encourages long- term, satisfying
                        growth employment. To keep our concept fresh, exciting and on the cutting edge of the hospitality and entertainment industry.
                        To be a giving member of the  community and to use our restaurant to improve the quality of life in the Finger Lake regions.
                    </p>

                </div><!-- end of article section-->
                <div class="section">
                    <!-- start of article section-->
                    <h4 style="color:purple">Sweet words from our clients</h4>

                    <p class="text-success"> <strong> "A new Gateway to Ice-cream "</strong> </p>


                </div> <!-- end of article section-->

            </div> <!--about end-->
            <!-- end of class content -->
        </div>

        </div><!--body div end-->
    
     
    
            
       
</body>
</html>
