@{
    ViewBag.Title = "About";
         Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Froosty Sweets-About</title>
    <script src="bootstrap.js"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css">
</head>
<body>
  
   
    <div class="row">
        
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item"><img id="logo" src="~/Content/themes/base/images/logo.gif" width="265" height="525" alt=""></a>

                </div> <!--list group div end-->

            </div><!--list col-mod-3 end-->
            <div class="col-md-6">
                <div class="slider">
                    <img src="~/Content/themes/base/images/fruit-toppings.gif" alt="Frosty Sweet" title="Frosty Sweet">
                </div><!-- end slider-->

                <div class="section">
                    <!-- start of section-->
                    <div class="about">
                        <!--about start-->

                        <h4 style="color:LightCoral">What makes us different?</h4>
                        <p style="color:black">
                            We are serving our nation since 30 years to enhance their  delights in every occasion of their life
                            and providing them  ease to enjoy the colors of life


                            <br />
                            Our Motto is just to serve the nation
                            <br />
                            <h4 style="color:HotPink"> Happiness... consists in giving, and in serving others</h4>
                        </p>
                        <p style="color:black">

                            We beleive that

                            <br /><h4 style="color:HotPink"> Your most unhappy customers are your greatest source of learning. </h4>
                        </p>
                        <p style="color:black">

                            Customers don’t expect you to be perfect. They do expect you to fix things when they go wrong.
                            Customer Service is not a department its an attitude
                            <br />
                            "Get closer than ever to your customers. So close that you tell them what they need well before they
                            realize it themselves." All these are the lessons learnt form experince of 30 years of work
                            <br />
                            <h4 style="color:red">We are trying our best not to compromise  on hygenic  and all other concerned issues too.</h4>
                        </p>

                    </div> <!--about end-->
                    <div class="section">
                        <!-- start of article section-->

                        <h4 style="color:purple">Sweet words from our clients</h4>

                        <p class="text-success"> <strong> "A new Gateway to Ice-cream "</strong> </p>


                    </div> <!-- end of article section-->

                </div><!-- end of class content -->
            </div><!--body div end-->

        </div><!--row din end-->
        </div>
   

 </body>
</html>
